In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('..\data\experimental_design.csv')

In [ ]:
df_set = df.loc[0:29, ['skill', 'bentuk_program', 'harga_program']]

In [ ]:
df_set

In [4]:
df.head()

,participant,set,alternatif,pilihan,skill,bentuk_program,harga_program
0,08xx336019xxx,1,A,0,Create Analytics Dashboard,Tutorial Based,500000
1,08xx336019xxx,1,B,1,Perform Customer Segmentation,Mentoring Based,350000
2,08xx336019xxx,1,C,0,Design AB Test Experimentation,Mentoring Based,300000
3,08xx336019xxx,2,A,1,Create Analytics Dashboard,Tutorial Based,500000
4,08xx336019xxx,2,B,0,Design Data Pipeline,Mentoring Based,300000

In [5]:
df = pd.get_dummies(df, columns=['skill', 'bentuk_program'])
df = df.replace({False: 0, True: 1})
df.head()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_31436\1437128527.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace({False: 0, True: 1})

,participant,set,alternatif,pilihan,harga_program,skill_Create Analytics Dashboard,skill_Create Machine Learning Model,skill_Deploy Machine Learning Model,skill_Design AB Test Experimentation,skill_Design Data Pipeline,skill_Perform Churn Analytics,skill_Perform Credit Scoring Analytics,skill_Perform Customer Lifetime Analysis,skill_Perform Customer Segmentation,skill_Perform Price Optimation,bentuk_program_Mentoring Based,bentuk_program_Tutorial Based
0,08xx336019xxx,1,A,0,500000,1,0,0,0,0,0,0,0,0,0,0,1
1,08xx336019xxx,1,B,1,350000,0,0,0,0,0,0,0,0,1,0,1,0
2,08xx336019xxx,1,C,0,300000,0,0,0,1,0,0,0,0,0,0,1,0
3,08xx336019xxx,2,A,1,500000,1,0,0,0,0,0,0,0,0,0,0,1
4,08xx336019xxx,2,B,0,300000,0,0,0,0,1,0,0,0,0,0,1,0

In [6]:
df = df.drop(columns=['participant', 'set', 'alternatif'])

In [7]:
df.head()

,pilihan,harga_program,skill_Create Analytics Dashboard,skill_Create Machine Learning Model,skill_Deploy Machine Learning Model,skill_Design AB Test Experimentation,skill_Design Data Pipeline,skill_Perform Churn Analytics,skill_Perform Credit Scoring Analytics,skill_Perform Customer Lifetime Analysis,skill_Perform Customer Segmentation,skill_Perform Price Optimation,bentuk_program_Mentoring Based,bentuk_program_Tutorial Based
0,0,500000,1,0,0,0,0,0,0,0,0,0,0,1
1,1,350000,0,0,0,0,0,0,0,0,1,0,1,0
2,0,300000,0,0,0,1,0,0,0,0,0,0,1,0
3,1,500000,1,0,0,0,0,0,0,0,0,0,0,1
4,0,300000,0,0,0,0,1,0,0,0,0,0,1,0

In [8]:
def min_max_normalize(X):
    X_min = X.min(axis=0)
    X_max = X.max(axis=0)
    X_normalized = (X - X_min) / (X_max - X_min)
    return X_normalized

In [9]:
df['harga_program'] = min_max_normalize(df['harga_program'])

In [10]:
X = df.drop(columns=['pilihan'])
y = df['pilihan']

# inisiasi nilai intercept 
X['Intercept'] = 1

X.head()

,harga_program,skill_Create Analytics Dashboard,skill_Create Machine Learning Model,skill_Deploy Machine Learning Model,skill_Design AB Test Experimentation,skill_Design Data Pipeline,skill_Perform Churn Analytics,skill_Perform Credit Scoring Analytics,skill_Perform Customer Lifetime Analysis,skill_Perform Customer Segmentation,skill_Perform Price Optimation,bentuk_program_Mentoring Based,bentuk_program_Tutorial Based,Intercept
0,0.833333,1,0,0,0,0,0,0,0,0,0,0,1,1
1,0.333333,0,0,0,0,0,0,0,0,1,0,1,0,1
2,0.166667,0,0,0,1,0,0,0,0,0,0,1,0,1
3,0.833333,1,0,0,0,0,0,0,0,0,0,0,1,1
4,0.166667,0,0,0,0,1,0,0,0,0,0,1,0,1

In [11]:
def logistic_regression(X, y, learning_rate=0.01, iterations=10000):
    """
    Fit a logistic regression model using gradient descent.
    
    Parameters:
    - X: numpy array of shape (n_samples, n_features)
    - y: numpy array of shape (n_samples,)
    - learning_rate: float, the learning rate for gradient descent
    - iterations: int, number of iterations for gradient descent
    
    Returns:
    - beta: numpy array of shape (n_features,), the estimated coefficients
    """

    beta = np.zeros(X.shape[1])
    
    for _ in range(iterations):
        z = np.dot(X, beta)
        pi_x = np.exp(z) / (1 + np.exp(z))
        gradient = np.dot(X.T, pi_x - y) / y.size
        beta -= learning_rate * gradient
    
    return beta

X_np = X.values
y_np = y.values

beta_estimates = logistic_regression(X_np, y_np)

beta_estimates

array([-0.34748383,  0.13731893,  0.73569248, -0.19790622, -0.09860073,
        0.10069198, -0.31784739, -0.55940435, -0.3994377 ,  0.05789418,
       -0.05834702,  0.06462164, -0.66456748, -0.59994584])

In [12]:
beta_df = pd.DataFrame({
    'Atribute Level': X.columns,
    'Utility Score': beta_estimates
})

beta_df

                              Atribute Level  Utility Score
0                              harga_program      -0.347484
1           skill_Create Analytics Dashboard       0.137319
2        skill_Create Machine Learning Model       0.735692
3        skill_Deploy Machine Learning Model      -0.197906
4       skill_Design AB Test Experimentation      -0.098601
5                 skill_Design Data Pipeline       0.100692
6              skill_Perform Churn Analytics      -0.317847
7     skill_Perform Credit Scoring Analytics      -0.559404
8   skill_Perform Customer Lifetime Analysis      -0.399438
9        skill_Perform Customer Segmentation       0.057894
10            skill_Perform Price Optimation      -0.058347
11            bentuk_program_Mentoring Based       0.064622
12             bentuk_program_Tutorial Based      -0.664567
13                                 Intercept      -0.599946

In [13]:
df_set_enc = pd.get_dummies(df_set, columns=['skill', 'bentuk_program'])
df_set_enc['harga_program'] = min_max_normalize(df_set['harga_program'])

df_set_aligned = pd.DataFrame(columns=X.columns, data=np.zeros((df_set_enc.shape[0], X.columns.size)))

for col in df_set_enc.columns:
    if col in df_set_aligned.columns:
        df_set_aligned[col] = df_set_enc[col]

df_set_aligned['total_utility_score'] = np.dot(df_set_aligned.values, beta_estimates)

df_set_aligned['total_utility_score'].head()

0   -0.816818
1    0.006688
2   -0.091893
3   -0.816818
4      0.1074
Name: total_utility_score, dtype: object

In [14]:
df_set_aligned

,harga_program,skill_Create Analytics Dashboard,skill_Create Machine Learning Model,skill_Deploy Machine Learning Model,skill_Design AB Test Experimentation,skill_Design Data Pipeline,skill_Perform Churn Analytics,skill_Perform Credit Scoring Analytics,skill_Perform Customer Lifetime Analysis,skill_Perform Customer Segmentation,skill_Perform Price Optimation,bentuk_program_Mentoring Based,bentuk_program_Tutorial Based,Intercept,total_utility_score
0,0.833333,True,False,False,False,False,False,False,False,False,False,False,True,0.0,-0.816818
1,0.333333,False,False,False,False,False,False,False,False,True,False,True,False,0.0,0.006688
2,0.166667,False,False,False,True,False,False,False,False,False,False,True,False,0.0,-0.091893
3,0.833333,True,False,False,False,False,False,False,False,False,False,False,True,0.0,-0.816818
4,0.166667,False,False,False,False,True,False,False,False,False,False,True,False,0.0,0.1074
5,1.000000,False,False,False,False,False,False,True,False,False,False,True,False,0.0,-0.842267
6,0.333333,False,False,False,False,False,False,False,False,True,False,True,False,0.0,0.006688
7,0.666667,False,False,False,False,False,False,False,False,True,False,False,True,0.0,-0.838329
8,0.000000,False,False,False,False,True,False,False,False,False,False,True,False,0.0,0.165314
9,0.833333,False,False,False,True,False,False,False,False,False,False,True,False,0.0,-0.323549
10,0.333333,False,False,False,False,False,False,False,False,False,True,False,True,0.0,-0.838742
11,0.333333,False,False,False,False,False,False,True,False,False,False,True,False,0.0,-0.610611
12,0.500000,False,False,False,False,True,False,False,False,False,False,True,False,0.0,-0.008428
13,0.166667,False,False,False,False,False,False,False,True,False,False,False,True,0.0,-1.121919
14,0.166667,False,False,False,True,False,False,False,False,False,False,False,True,0.0,-0.821082
15,0.666667,False,False,False,False,False,True,False,False,False,False,False,True,0.0,-1.214071
16,0.166667,False,False,False,False,False,False,False,False,True,False,True,False,0.0,0.064602
17,0.166667,False,True,False,False,False,False,False,False,False,False,False,True,0.0,0.013211
18,0.833333,False,False,False,False,False,False,False,True,False,False,False,True,0.0,-1.353575
19,1.000000,False,False,False,False,True,False,False,False,False,False,True,False,0.0,-0.18217
20,0.333333,False,False,True,False,False,False,False,False,False,False,False,True,0.0,-0.978302
21,0.166667,False,False,False,False,False,False,True,False,False,False,True,False,0.0,-0.552697
22,1.000000,False,False,False,False,True,False,False,False,False,False,True,False,0.0,-0.18217
23,1.000000,False,True,False,False,False,False,False,False,False,False,False,True,0.0,-0.276359
24,0.000000,True,False,False,False,False,False,False,False,False,False,True,False,0.0,0.201941
25,1.000000,False,False,False,True,False,False,False,False,False,False,False,True,0.0,-1.110652
26,0.333333,False,False,False,False,False,False,False,True,False,False,True,False,0.0,-0.450644
27,0.500000,False,False,False,False,False,False,True,False,False,False,True,False,0.0,-0.668525
28,0.666667,False,False,False,False,False,True,False,False,False,False,True,False,0.0,-0.484882
29,0.833333,False,False,False,False,False,True,False,False,False,False,False,True,0.0,-1.271985

In [15]:
# cek manual
np.exp(-0.816818) / 1 + np.exp(-0.816818)

0.8836706802201187

In [16]:
df_set_aligned['choice_probability'] = df_set_aligned['total_utility_score'].apply(lambda x: (np.exp(x) / (1 + np.exp(x))*100))

In [17]:
df_set_aligned

,harga_program,skill_Create Analytics Dashboard,skill_Create Machine Learning Model,skill_Deploy Machine Learning Model,skill_Design AB Test Experimentation,skill_Design Data Pipeline,skill_Perform Churn Analytics,skill_Perform Credit Scoring Analytics,skill_Perform Customer Lifetime Analysis,skill_Perform Customer Segmentation,skill_Perform Price Optimation,bentuk_program_Mentoring Based,bentuk_program_Tutorial Based,Intercept,total_utility_score,choice_probability
0,0.833333,True,False,False,False,False,False,False,False,False,False,False,True,0.0,-0.816818,30.643944
1,0.333333,False,False,False,False,False,False,False,False,True,False,True,False,0.0,0.006688,50.167196
2,0.166667,False,False,False,True,False,False,False,False,False,False,True,False,0.0,-0.091893,47.704289
3,0.833333,True,False,False,False,False,False,False,False,False,False,False,True,0.0,-0.816818,30.643944
4,0.166667,False,False,False,False,True,False,False,False,False,False,True,False,0.0,0.1074,52.682413
5,1.000000,False,False,False,False,False,False,True,False,False,False,True,False,0.0,-0.842267,30.105764
6,0.333333,False,False,False,False,False,False,False,False,True,False,True,False,0.0,0.006688,50.167196
7,0.666667,False,False,False,False,False,False,False,False,True,False,False,True,0.0,-0.838329,30.188679
8,0.000000,False,False,False,False,True,False,False,False,False,False,True,False,0.0,0.165314,54.123454
9,0.833333,False,False,False,True,False,False,False,False,False,False,True,False,0.0,-0.323549,41.981109
10,0.333333,False,False,False,False,False,False,False,False,False,True,False,True,0.0,-0.838742,30.179971
11,0.333333,False,False,False,False,False,False,True,False,False,False,True,False,0.0,-0.610611,35.191991
12,0.500000,False,False,False,False,True,False,False,False,False,False,True,False,0.0,-0.008428,49.789294
13,0.166667,False,False,False,False,False,False,False,True,False,False,False,True,0.0,-1.121919,24.565547
14,0.166667,False,False,False,True,False,False,False,False,False,False,False,True,0.0,-0.821082,30.553399
15,0.666667,False,False,False,False,False,True,False,False,False,False,False,True,0.0,-1.214071,22.898157
16,0.166667,False,False,False,False,False,False,False,False,True,False,True,False,0.0,0.064602,51.614485
17,0.166667,False,True,False,False,False,False,False,False,False,False,False,True,0.0,0.013211,50.330271
18,0.833333,False,False,False,False,False,False,False,True,False,False,False,True,0.0,-1.353575,20.528651
19,1.000000,False,False,False,False,True,False,False,False,False,False,True,False,0.0,-0.18217,45.458298
20,0.333333,False,False,True,False,False,False,False,False,False,False,False,True,0.0,-0.978302,27.322890
21,0.166667,False,False,False,False,False,False,True,False,False,False,True,False,0.0,-0.552697,36.523898
22,1.000000,False,False,False,False,True,False,False,False,False,False,True,False,0.0,-0.18217,45.458298
23,1.000000,False,True,False,False,False,False,False,False,False,False,False,True,0.0,-0.276359,43.134668
24,0.000000,True,False,False,False,False,False,False,False,False,False,True,False,0.0,0.201941,55.031427
25,1.000000,False,False,False,True,False,False,False,False,False,False,False,True,0.0,-1.110652,24.774935
26,0.333333,False,False,False,False,False,False,False,True,False,False,True,False,0.0,-0.450644,38.920766
27,0.500000,False,False,False,False,False,False,True,False,False,False,True,False,0.0,-0.668525,33.882728
28,0.666667,False,False,False,False,False,True,False,False,False,False,True,False,0.0,-0.484882,38.110006
29,0.833333,False,False,False,False,False,True,False,False,False,False,False,True,0.0,-1.271985,21.891769

In [18]:
df_set_aligned = df_set_aligned[['total_utility_score', 'choice_probability']]

In [19]:
df_set_aligned

   total_utility_score  choice_probability
0            -0.816818           30.643944
1             0.006688           50.167196
2            -0.091893           47.704289
3            -0.816818           30.643944
4               0.1074           52.682413
5            -0.842267           30.105764
6             0.006688           50.167196
7            -0.838329           30.188679
8             0.165314           54.123454
9            -0.323549           41.981109
10           -0.838742           30.179971
11           -0.610611           35.191991
12           -0.008428           49.789294
13           -1.121919           24.565547
14           -0.821082           30.553399
15           -1.214071           22.898157
16            0.064602           51.614485
17            0.013211           50.330271
18           -1.353575           20.528651
19            -0.18217           45.458298
20           -0.978302           27.322890
21           -0.552697           36.523898
22            -0.18217           45.458298
23           -0.276359           43.134668
24            0.201941           55.031427
25           -1.110652           24.774935
26           -0.450644           38.920766
27           -0.668525           33.882728
28           -0.484882           38.110006
29           -1.271985           21.891769

In [20]:
df_set

                                 skill   bentuk_program  harga_program
0           Create Analytics Dashboard   Tutorial Based         500000
1        Perform Customer Segmentation  Mentoring Based         350000
2       Design AB Test Experimentation  Mentoring Based         300000
3           Create Analytics Dashboard   Tutorial Based         500000
4                 Design Data Pipeline  Mentoring Based         300000
5     Perform Credit Scoring Analytics  Mentoring Based         550000
6        Perform Customer Segmentation  Mentoring Based         350000
7        Perform Customer Segmentation   Tutorial Based         450000
8                 Design Data Pipeline  Mentoring Based         250000
9       Design AB Test Experimentation  Mentoring Based         500000
10            Perform Price Optimation   Tutorial Based         350000
11    Perform Credit Scoring Analytics  Mentoring Based         350000
12                Design Data Pipeline  Mentoring Based         400000
13  Perform Customer Lifetime Analysis   Tutorial Based         300000
14      Design AB Test Experimentation   Tutorial Based         300000
15             Perform Churn Analytics   Tutorial Based         450000
16       Perform Customer Segmentation  Mentoring Based         300000
17       Create Machine Learning Model   Tutorial Based         300000
18  Perform Customer Lifetime Analysis   Tutorial Based         500000
19                Design Data Pipeline  Mentoring Based         550000
20       Deploy Machine Learning Model   Tutorial Based         350000
21    Perform Credit Scoring Analytics  Mentoring Based         300000
22                Design Data Pipeline  Mentoring Based         550000
23       Create Machine Learning Model   Tutorial Based         550000
24          Create Analytics Dashboard  Mentoring Based         250000
25      Design AB Test Experimentation   Tutorial Based         550000
26  Perform Customer Lifetime Analysis  Mentoring Based         350000
27    Perform Credit Scoring Analytics  Mentoring Based         400000
28             Perform Churn Analytics  Mentoring Based         450000
29             Perform Churn Analytics   Tutorial Based         500000

In [21]:
result = pd.concat([df_set, df_set_aligned], axis=1)

In [22]:
result

,skill,bentuk_program,harga_program,total_utility_score,choice_probability
0,Create Analytics Dashboard,Tutorial Based,500000,-0.816818,30.643944
1,Perform Customer Segmentation,Mentoring Based,350000,0.006688,50.167196
2,Design AB Test Experimentation,Mentoring Based,300000,-0.091893,47.704289
3,Create Analytics Dashboard,Tutorial Based,500000,-0.816818,30.643944
4,Design Data Pipeline,Mentoring Based,300000,0.1074,52.682413
5,Perform Credit Scoring Analytics,Mentoring Based,550000,-0.842267,30.105764
6,Perform Customer Segmentation,Mentoring Based,350000,0.006688,50.167196
7,Perform Customer Segmentation,Tutorial Based,450000,-0.838329,30.188679
8,Design Data Pipeline,Mentoring Based,250000,0.165314,54.123454
9,Design AB Test Experimentation,Mentoring Based,500000,-0.323549,41.981109
10,Perform Price Optimation,Tutorial Based,350000,-0.838742,30.179971
11,Perform Credit Scoring Analytics,Mentoring Based,350000,-0.610611,35.191991
12,Design Data Pipeline,Mentoring Based,400000,-0.008428,49.789294
13,Perform Customer Lifetime Analysis,Tutorial Based,300000,-1.121919,24.565547
14,Design AB Test Experimentation,Tutorial Based,300000,-0.821082,30.553399
15,Perform Churn Analytics,Tutorial Based,450000,-1.214071,22.898157
16,Perform Customer Segmentation,Mentoring Based,300000,0.064602,51.614485
17,Create Machine Learning Model,Tutorial Based,300000,0.013211,50.330271
18,Perform Customer Lifetime Analysis,Tutorial Based,500000,-1.353575,20.528651
19,Design Data Pipeline,Mentoring Based,550000,-0.18217,45.458298
20,Deploy Machine Learning Model,Tutorial Based,350000,-0.978302,27.322890
21,Perform Credit Scoring Analytics,Mentoring Based,300000,-0.552697,36.523898
22,Design Data Pipeline,Mentoring Based,550000,-0.18217,45.458298
23,Create Machine Learning Model,Tutorial Based,550000,-0.276359,43.134668
24,Create Analytics Dashboard,Mentoring Based,250000,0.201941,55.031427
25,Design AB Test Experimentation,Tutorial Based,550000,-1.110652,24.774935
26,Perform Customer Lifetime Analysis,Mentoring Based,350000,-0.450644,38.920766
27,Perform Credit Scoring Analytics,Mentoring Based,400000,-0.668525,33.882728
28,Perform Churn Analytics,Mentoring Based,450000,-0.484882,38.110006
29,Perform Churn Analytics,Tutorial Based,500000,-1.271985,21.891769

In [25]:
best_result = result.nlargest(5, 'choice_probability')
best_result

,skill,bentuk_program,harga_program,total_utility_score,choice_probability
24,Create Analytics Dashboard,Mentoring Based,250000,0.201941,55.031427
8,Design Data Pipeline,Mentoring Based,250000,0.165314,54.123454
4,Design Data Pipeline,Mentoring Based,300000,0.1074,52.682413
16,Perform Customer Segmentation,Mentoring Based,300000,0.064602,51.614485
17,Create Machine Learning Model,Tutorial Based,300000,0.013211,50.330271